body{
    background-color: rgb(132, 134, 74) ;
}
h1{
    color: rgb(26, 14, 188) ;
}
h2{
    color: rgb(104, 43, 94) ;
}
ul li{
   color:rgb(104, 43, 94) ;
}
h3{
    color:rgb(104, 43, 94) ;
}
form{
    color:rgb(104, 43, 94) ;
}